MONGO_URI=
NODE_ENV=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
LOG_LEVEL=

GMAIL_USER=
GMAIL_PASS=

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=

GEMINI_API_KEY=

UNSPLASH_ACCESS_KEY=
UNSPLASH_SECRET_KEY=

AZURE_SPEECH_KEY=
AZURE_SPEECH_REGION=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_UPLOAD_PRESET=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

FIREBASE_SERVICE_ACCOUNT=

CHROMA_URL=
HF_EMBED_URL=

PYTHON_BASE_URL=

TIMEZONE=